* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #6B555E;
  font-size: 1.1rem;
  font-family: 'Nunito Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
 background-color: #c9dab8d7;
}

body::-webkit-scrollbar-thumb {
  background-color: #6B555E; 
  border-radius: 6px;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
  margin-bottom: 40px;
  position: relative;
}

 h2::before {
  content: '';
  display: block;
  width: 75px;
  height: 5px;
  background: #C9DAB8;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  position: fixed;
  width: 100%;
  top:-20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px 10px 100px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.nav a {
  text-decoration: none;
  margin-right: 30px;
  color: #6B555E;
  position: relative;
}

.nav a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #C9DAB8;
  transform: translateY(25px);
  border-radius: 3px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0; 
}

.nav a:hover::before {
  transform: translateY(25px);
  opacity: 1;
}

.nav a:last-child::before {
  background: none;
}

.nav a:last-child {
  background-color: #C9DAB8;
  padding: 7px 10px;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, border 0.3s ease;
  border-radius: 3px;

}

.nav a:last-child:hover {
  border: 2px solid #C9DAB8;
  background-color: #fff;
  color: #C9DAB8;
}

.background_welcome {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.685), rgba(54, 54, 54, 0.5) 39%, rgba(28, 28, 28, 0.4)), url(./assets/cat-1726028_1280.jpg) fixed center/cover;
  color: white;
  padding: 200px 250px;
  margin-top: 20px;
  text-align: center;
}

.welcome {
  font-size: 2.5rem;
}

h1 {
  padding-top: 20px;
  font-family: 'Parisienne', cursive;
  letter-spacing: 2px;
  font-size: 5.5rem ;
}

.animate-opacity {
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

.slogan {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.3rem;
}

.presentation {
  padding: 100px 250px 100px;
}

.presentation .introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.presentation p::first-letter {
  font-size: 2rem;
  color: #C9DAB8;
}

.presentation .introduction p {
  opacity: 0;
  text-align: left;
  margin-bottom: 15px;
  line-height: 1.6;
}

.presentation .animate-from-right {
  transform: translateX(100%);
  transition: transform 1s ease-in, opacity 1s ease-in;
}

.presentation .animate-from-right.active {
  transform: translateX(0%);
  opacity: 1;
}

.presentation .animate-from-left {
  transform: translateX(-100%);
  transition: transform 1s ease-in, opacity 1s ease-in;
}

.presentation .animate-from-left.active {
  transform: translateX(0%);
  opacity: 1;
}

.presentation .animate-from-bottom {
  transform: translateY(100%);
  transition: transform 1s ease-in, opacity 1s ease-in;
}

.presentation .animate-from-bottom.active {
  transform: translateX(0%);
  opacity: 1;
}

.presentation .center_presentation {
  display: block;
  text-align: right;
  margin-top: 20px;
  font-style: italic;
}

#discover_ragdolls {
  margin: 0 auto;
}

.block {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1000px;
  margin: auto;
}
.block_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 60px;
}

.block_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.block_img {
  border: solid 1px #C9DAB8;
  margin: 0 auto;
  position: relative; 
  border-radius: 3px;
}

.block_img img {
  display: block;
  position: relative;
  z-index: 1;
  max-width: 450px;
  height: 100%;
  border-radius: 3px;
  z-index: 1;
}

.block_left .block_img::before {
  position: absolute;
  display: block;
  content: '';
  border: solid 2px #C9DAB8;
  top: -30px;
  left: -30px;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 3px;

}

.block_right .block_img::before {
  position: absolute;
  display: block;
  content: '';
  border: solid 2px #C9DAB8;
  top: -30px;
  right: -30px;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 3px;

}

.block_container {
  text-align: left;
}

.block_container h3 {
  font-family: 'Parisienne', cursive;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.block_container p {
  margin-bottom: 10px;
}

.block_container li {
  margin-left: 40px;
}

.block_container .gp {
  margin-left: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.discover_race {
  background-image: linear-gradient(to left, rgba(201, 218, 184, 0.8), rgba(225, 237, 215, 0.8));
  padding: 20px 100px;
  text-align: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.discover_race.active {
  transform: translateX(0%);
  opacity: 1;
}

.about_ragdoll {
  font-size: 1.4rem;
  font-weight: bold;
  color: #6B555E;
  padding: 20px 20px 5px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: url(./assets/pngtree-simple-cute-hand-drawn-cat-paw-background-picture-image_1282891.jpg) no-repeat;
  background-size: cover;
}

.about_ragdoll a {
  width: 300px;
  text-align: center;
  display: block;
  background-color: #6B555E;
  color: #fff;
  border: 2px solid transparent;
  transition: background-color 0.4s ease-in, border 0.4s ease-in; 
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  margin: 15px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about_ragdoll a:hover {
  background-color: #fff;
  color: #6B555E;
  border: 2px solid #6B555E;
 }

 #discover_kittens {
  padding: 100px 100px 150px 100px;
 }

 .main_kittens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
 }

 .card_kitten {
  width: 35%;
  border: 1px solid #ebeaea;
  position: relative;
  cursor: pointer;
  margin-bottom: 100px;
  border-radius: 3px;
 }

 .card_kitten img {
  height: 300px;
  display: block;
  width: 100%;
  object-fit: cover;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
 }

.card_kitten:hover img {
  transform: scale(1.05);
}

.image_container {
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; 
}

.image_container img {
  transition: transform 0.3s ease-in-out;
}

 .available {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  background-color: #c9dab8d7;
  color: #6B555E;
  text-align: center;
  padding: 15px 10px 10px;
  font-size: 0.9rem;
  position: absolute;
  font-weight: bold;
  top: 50px;
  right: 50px;
  transform: translate(50%, -50%);
  border: 2px dotted white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}

 .card_kitten h3 {
  text-align: center;
  padding: 20px;
 }

 .card_kitten p {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
  font-size: 0.9rem;
 }

 .details {
  position: absolute;
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  border: 1px solid #ebeaea;
  padding: 15px 25px;
  background-color: #fff;
  letter-spacing: 1.5px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  cursor: pointer;
  border-radius: 3px;
 }

 .details a {
  color: #6B555E;
 }

 .details:hover {
  background-color: #6B555E;
 }

 .details:hover a {
  color: #fff;
 }

 .more_kittens {
  width: 280px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  background-color: #6B555E;
  color: #fff;
  border: 2px solid transparent;
  transition: background-color 0.4s ease-in, border 0.4s ease-in; 
  padding: 10px 20px;
  font-size: 0.9rem;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 3px;
 }

 .more_kittens:hover {
  background-color: #fff;
  border: #6B555E 2px solid;
  color: #6B555E;
 }

 .main_testimonals {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
  padding: 50px 200px;
  gap: 80px;
 }

 .card_testimonials {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 33%;
  position: relative;
  margin-top: 60px;
 }

 .img_testimonials img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  object-fit: cover;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
 }

 .card_testimonials .name {
  text-transform: uppercase;
  margin-top: 60px;
  text-align: center;
 }

 .card_testimonials .description {
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  margin-top: 5px;
 }

 .quotes {
  display: flex;
  align-items: center;
  justify-content: center;
}

 .quotes img {
  width: 32px;
  height: 32px;
  margin-top: 20px;
 }

 .body_testimonials {
  margin: 15px 0;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 300;
 }

 
